*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
  background-color: var(--Very-dark-blue);
  position: relative;
  height: fit-content;
}
:root{
  --Very-dark-blue: hsl(233, 47%, 7%);
  --Dark-desa-urated: hsl(244, 38%, 16%);
  --Soft-viol-t:hsl(277, 64%, 61%);
  --main-heading-stats: hsl(0, 0%, 100%);
  --main-paragraph: hsla(0, 0%, 100%, 0.75);
  --stat-headings: hsla(0, 0%, 100%, 0.6);
}
.container{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row-reverse;
}
@media (max-width:1440px){
  .container{
    width: 100%;
}
}
/*========== home ==========*/

header {
  background-color: var(--Dark-desa-urated);
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,30%);
  border-radius: 15px ;
  color: white;
  width: 70%;
  height: fit-content;
  overflow: hidden;
  height: fit-content;
}
h1 span{
  color: var(--Soft-viol-t);
}
h1{
  font-size: 2rem;
}
h2{
  font-size: 23px;
}
.cont{
  padding: 6%;
  width: 50%;
}
p{
  font-size: 15px;
  font-weight: 200;
  margin: 4% 0 15% 0;
  line-height: 22px;
  color:var(--main-paragraph) ;
}
.cont >div{
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.img{
  width: 50%;
  height: 400px;
  position: relative;
}
.img span{
  z-index: 4;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(hsla(277, 92%, 24%, 0.534) 100%,red 0%);
}
.img img{
  width: 100%;
  height: 100%;
  z-index: 1;
}

@media (max-width:375px){
  body {
    padding-bottom: 20px;
  }
  header{
    width: 90%;
    transform: translate(-50%);
    margin: 25% auto;
  }
  .container{
    flex-direction: unset;
    display: block;
  }
  .cont ,.img{
    width: 100%;
  }
  .cont {
    text-align: center;
  }
  .cont div {
    width: 100%;
    display: block;
    text-align: center;
  }
  .img{
    height: 325px;
  }
  body >div{
    width: 100%;
    padding: 10% 0;
  }
}
/*========== home ==========*/